.content {
    padding-top:51px;
    width:100%;
}

.content .component {
	width:100%;
}

.text-align-center {
        text-align:center;
}


.mapContainer {
        background-color:pink;

            height: 200px;
}

.map {
        height: 200px;

}