.content {
    padding-top:51px;
    width:100%;
}

.content .component {
	width:100%;
}

.text-align-center {
        text-align:center;
}


.mapContainer {
        background-color:pink;

            height: 200px;
}

.map {
        height: 200px;

}

.foodieProfileimage {
	    padding-bottom: 20px;
}

.poll {
	margin: 20px;
}

.app_container {
	background-color: white;
	margin-left: 25px;
	margin-right: 25px;
	padding-bottom: 15px;
}

.app_label {
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;

}
body {
	background-color: #e8eaed;	
}

.widget-container {
	margin-bottom: 15px;
	margin-left: 25px;
	margin-right: 25px;

}

.widget {
	background-color: white;
	padding-bottom: 20px;
}

.kpi {
	font-size: 2.4em;
}

.content {

}