coreapi==2.0.9
Django==1.10.3
django-filter==0.15.3
django-registration-redux==1.4
django-rest-swagger==2.1.0
djangorestframework==3.5.2
googlemaps==2.4.4
gunicorn==19.6.0
itypes==1.1.0
Markdown==2.6.7
openapi-codec==1.1.7
Pillow==3.4.2
requests==2.10.0
simplejson==3.10.0
uritemplate==3.0.0
